.statistic-father {
    display: flex;
    flex-direction: row;
}

.block {
    width: 20%;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 3px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    
    
    
    
}

.statistic-img {
    margin-top: 30%;
    width: 65px;
    height: 70px;
    background-color: white;

    
}

.statistic-text {
    background-color: white;

}

.statistic-title {
    width: 60%;
    background-color: white;
    font-size: 13px;
    margin-bottom: 5px;
   

}

.statistic-number {
    width: 50%;
    background-color: white;
    font-size: 30px;

}